p {
	font-size: 150% ;
}
h1 {
	font-size : 300% ;
	background-color : #607D8B ;
	color : white
}
* {
	font-family: 'Source Sans Pro', sans-serif;
	
}

body {
	width : 85% ;
	margin : auto ;
	text-align : center ;
	
}
button {
	margin-bottom: 2% ;
}
